<p>
  <strong>Core language:</strong>
  <%= @translation.core_language %>
</p>

<p>
  <strong>Target language:</strong>
  <%= @translation.target_language %>
</p>

<p>
  <strong>Contributors:</strong><br>
  <% @users.each do |user| %>
    <li>
      <%= link_to user.name, user_path(user) %>
    </li>
  <% end %>
</p>
<%= link_to 'Edit', edit_translation_path(@translation) %> |
<%= link_to 'Back', translations_path %>
